@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-background-color: #ecfeff;
  --main-heading-color: #67e8f9;
  --primary-background-color-dark: #164e63;
  --main-heading-color-dark: #164e63;
  --card-background-color: white;
  --hover-background-color: #f1f5f9;
  --primary-color: #0ea5e9;
  --container-shadow: rgb(192, 192, 192);
}
.dark-theme {
  color: white;
  --primary-background-color: var(--primary-background-color-dark);
  --main-heading-color: var(--main-heading-color-dark);
  --card-background-color: #0891b2;
}

body {
  background-color: var(--primary-background-color);
}
/* Main Heading */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_header {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  padding: 8px 16px;
  letter-spacing: 1px;
  background-image: var(--primary-background-color);

  text-decoration: none;
  color: var(--main-heading-color-dark);
}
/* Dark theme switch */

.theme-icon {
  margin-left: auto;
  padding-right: 2rem;
  text-align: end;
}

.theme-icon .toggle {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.check {
  display: none;
}
.button {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
}
.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.button::before {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-background-color-dark); */
  background-color: var(--primary-background-color);
  border-radius: 25px;
  border: 1px solid #333;
  transition: background-color 0.3s ease;
}
.button::after {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  box-shadow: 0px 0px 5px 1px #000;
  transition: left 0.3s ease;
}
.check:checked + .button::before {
  /* background-color: var(--primary-background-color); */
  background-color: var(--primary-background-color-dark);
}
.check:checked + .button::after {
  background-color: var(--primary-background-color);
  left: 75%;
}
/* Dark theme switch */

/* Main Heading */

/* All container */

.all-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 1rem;
  /* border: 1px solid gray; */
  border-radius: 10px;
}

.main-hr {
  border: 0.5px solid #164e63;
  border-bottom: none;
  box-shadow: 0px 1px 6px 1px #cbd5e1;
  margin: 0px 30px;
}

.child {
  padding: 6px 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0891b2;
  color: aliceblue;
  border-radius: 20px;
  box-shadow: 0px 1px 5px 2px #000;
  margin: 12px 8px;
}
.child:hover {
  background-color: #155e75;
}

.output {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}
@media screen and (max-width: 1080px) {
  .cards-container {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

/* Card Container */

/* First Card */
.card-one {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
}

.card-one:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.01);
}

.card-one .card-image {
  width: 320px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

h3,
small,
p {
  padding: 5px 12px;
}
.card-one-text .title {
  font-weight: bold;
}
.card-one-text .courtesy {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: bolder;
}
.card-one-text .description {
  font-size: 0.9rem;
  /* opacity: 0.7; */
}

.card-one-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-one-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-one-btn-section .actions {
  margin-left: auto;
}

.card-one-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-one-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-one-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-one-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-one-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}

/* First Card */

/* Second Card */

.card-two {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
}

.card-two .card-image {
  width: 320px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

h3,
small,
p {
  padding: 5px 12px;
}
.card-two-text .title {
  font-weight: bold;
  color: white;
}
.card-two-text .courtesy {
  color: white;
  font-size: 0.8rem;
  opacity: 0.9;
}
.card-two-text .description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  /* opacity: 0.7; */
}
.card-two-text {
  margin-top: -4.5rem;
}

.card-two-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-two-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-two-btn-section .actions {
  margin-left: auto;
}

.card-two-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-two-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-two-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-two-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-two-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}
/* Second Card */

/* Third Card */
.card-three {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
  /* height: 400px; */
}

.card-three .card-image {
  width: 320px;
  height: 200px;
}

h3,
small,
p {
  padding: 5px 12px;
}
.card-three-text .title {
  font-weight: bold;
  color: white;
}
.card-three-text .courtesy {
  color: white;
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: bolder;
}
.card-three-text .description {
  font-size: 0.9rem;
  /* opacity: 0.7; */
}

.card-three-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-three-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-three-btn-section .actions {
  margin-left: auto;
}

.card-three-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-three-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-three-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-three-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-three-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}

/* Third Card */

/* Fourth Card */

.card-four {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
}

.card-four .card-image {
  width: 320px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card-four-text .title {
  font-weight: bold;
}
.card-four-text .courtesy {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: bolder;
}
.card-four-text .description {
  font-size: 0.9rem;
  /* opacity: 0.7; */
}

.card-four-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-four-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-four-btn-section .actions {
  margin-left: auto;
}

.card-four-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-four-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-four-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-four-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-four-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}

/* Fourth Card */

/* Fifth Card */

.card-fifth {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
}
.card-fifth .card-image {
  width: 320px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.card-fifth-text .title {
  font-weight: bold;
}
.card-fifth-text .courtesy {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: bolder;
}
.card-fifth-text .description {
  font-size: 0.9rem;
  /* opacity: 0.7;  */
}

.card-fifth-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-fifth-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-fifth-btn-section .actions {
  margin-left: auto;
}

.card-fifth-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-fifth-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-fifth-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-fifth-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-fifth-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}

/* Fifth Card */

/* Sixth Card */

.card-six {
  width: 320px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 5px 20px -5px var(--container-shadow);
}

.card-six .card-image {
  width: 100px;
  height: 100px;
  border-radius: 10px 0 0 0;
}

.card-six-body {
  display: flex;
}

h3,
small,
p {
  padding: 5px 12px;
}
.card-six-text .title {
  font-weight: bold;
}
.card-six-text .courtesy {
  font-size: 0.8rem;
  opacity: 0.5;
  font-weight: bolder;
}
.card-six-text .description {
  font-size: 0.9rem;
  /* opacity: 0.7; */
}

.card-six-body:hover {
  border-radius: 10px 10px 0 0;
  filter: brightness(98%);
  cursor: pointer;
  opacity: 0.9;
}
.card-six-btn-section {
  display: flex;
  padding: 5px 12px;
}

.card-six-btn-section .actions {
  margin-left: auto;
}

.card-six-btn-section .main-btn {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 2px 5px;
}
.card-six-btn-section .main-btn:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.card-six-btn-section .actions .action-btns {
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: white;
  padding: 5px 12px;
}

.card-six-btn-section .actions .action-btns:hover {
  cursor: pointer;
  background-color: var(--hover-background-color);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.card-six-btn-section .main-btn:nth-child(2) {
  margin-left: 6px;
}

/* Sixth Card */

/* Card Container */

/* Chip */

.chips-container {
  max-width: 900px;
  background-color: white;
  border-radius: 10px;
  margin: 4rem auto;
  padding: 12px 8px;
  display: flex;
  box-shadow: 2px 2px 4px 2px rgb(167, 167, 167);
}

.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  background-color: #cbd5e1;
  margin: 0rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 1px 4px 2px rgb(167, 167, 167);
}

.chip:hover {
  -ms-transform: scale(1.01); /* IE 9 */
  -webkit-transform: scale(1.01); /* Safari 3-8 */
  transform: scale(1.01);
}

.close-icon {
  cursor: pointer;
  border-radius: 50%;
  margin-left: 0.3rem;
  font-size: 1.3rem;
}

.close-icon:hover {
  color: #f87171;
}

.type-chip {
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 6px 8px;
  outline: none;
  border: none;
}

/* Chip */

/* Drawer */

.drawer-container {
  width: 250px;
  background-color: white;
  border-radius: 10px;
  /* padding: 12px 8px; */
  box-shadow: 1px 2px 4px 1px rgba(189, 189, 189);
}

.drawer-title {
  padding: 0px 10px;
}

.options {
  margin-top: 10px;
  padding: 5px 10px;
}
.option {
  display: grid;
  grid-template-columns: 40px 210px;
  margin-bottom: 0.5rem;
  padding: 10px 5px;
  border-radius: 6px;
  cursor: pointer;
}
.option-icon {
  margin-left: 0.6rem;
  margin-top: 2px;
}
.option:last-child {
  margin-bottom: 0;
}
.option:hover {
  background-color: #cbd5e1;
}

.options .active {
  background-color: #0284c7;
  color: white;
}
.options .active:hover {
  background-color: #0284c7;
}

/* Drawer */

/* Permanent Drawer */
.permanent-drawer-container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 4px 1px rgba(189, 189, 189);
  height: 30rem;
}

.sticky-text {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
}

.side-drawer {
  overflow-y: scroll;
}
.side-drawer .drawer-title {
  padding: 0px 10px;
}

.side-drawer .options {
  margin-top: 10px;
}
.side-drawer .option {
  display: grid;
  grid-template-columns: 40px 210px;
  margin-bottom: 0.5rem;
  padding: 10px 5px;
  border-radius: 6px;
  cursor: pointer;
}
.side-drawer .option-icon {
  margin-left: 0.6rem;
  margin-top: 2px;
}
.side-drawer .option:last-child {
  margin-bottom: 0;
}
.side-drawer .option:hover {
  background-color: #cbd5e1;
}

.side-drawer .options .active {
  background-color: #0284c7;
  color: white;
}
.side-drawer .options .active:hover {
  background-color: #0284c7;
}
.permanent-drawer-hr {
  border: 0.5px solid #afafaf;
  border-bottom: none;
  /* box-shadow: 0px 1px 6px 1px #cbd5e1; */
  margin: 0;
}
.side-drawer h4 {
  padding-left: 10px;
  padding-top: 10px;

  color: #b3b3b3;
}

.main-section {
  overflow-y: scroll;
}

.main-section h2 {
  background-color: #0891b2;
  text-align: start;
  padding: 8px 20px;
  color: white;
  border-top-right-radius: 10px;
  position: sticky;
  top: 0;
  width: 100%;
}
/*scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* background: #555; */
}

/* Permanent Drawer */

/* Dissmissable permanent drawer */

/* Dissmissable permanent drawer */

/* Badges */

.badge-container {
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
  border-radius: 10px;
}

.badge-container div {
  position: relative;
  padding: 1rem;
}

/* badge 1 */

.badge1 p {
  font-size: 1.1rem;
  display: inline;
}
.sm-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  top: -10px;
  left: -10px;
}

/* badge 1 */

/* badge 2 */

.badge2 p {
  font-size: 1.1rem;
  /* display: inline; */
}
.lg-badge {
  padding: 0.5rem 1rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  top: -10px;
  left: -10px;
}

/* badge 2 */

/* badge 3 */

.badge3 .sm-left-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: rgb(233, 66, 66);
  color: #fff;
  position: relative;
  top: -15px;
  left: 10px;
}

.badge3 .button1 {
  padding: 8px 12px;
  color: black;
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 1px solid rgb(56, 188, 240);
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
}
.badge3 .button1:hover {
  background-color: #0891b2;
  transition: all 0.3s ease;
}

/* badge 3 */

/* badge 4 */

.badge4 .sm-left-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.8rem;
  background-color: rgb(233, 66, 66);
  color: #fff;
  position: relative;
  top: -15px;
  left: 10px;
}

.badge4 .sm-left-badge.hide {
  opacity: 0;
}

.badge4 .button2 {
  padding: 8px 12px;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(12, 27, 32);
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
}

.badge4 .button2:hover {
  background-color: #dae9ec;
  transition: all 0.3s ease;
}
/* badge 4 */

/* badge 5 */

.badge5 .sm-right-badge {
  padding: 0.15rem 0.4rem;
  color: var(--text-white);
  border-radius: 50%;
  font-size: 0.6rem;
  background-color: rgb(233, 66, 66);
  color: #fff;
  position: relative;
  top: -18px;
  left: -12px;
}

/* badge 5 */

/* Badges */

/* Headers */

/* Header 1 */

.header-1-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 750px;
  height: 22rem;
  overflow-y: scroll;
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
  background-color: white;
  border-radius: 10px;
}

.header-1-container .headers-1 {
  position: sticky;
  top: 0;
  height: 65px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 20px;
}

.header1-name {
  font-size: 1rem;
  flex-grow: 1;
}

.action-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.action-icons .icon-child {
  /* margin: 0px 10px; */
  margin-left: 10px;
  padding: 0px 10px;
}

.action-icons .icon-child:hover{
  background-color: rgb(0, 157, 209);
  border-radius: 50%;
  cursor: pointer;
}

.header1-ham {
  margin-right: 10px;
  padding: 0px 10px;
}

.header1-ham:hover {
  background-color: rgb(0, 157, 209);
  border-radius: 50%;
  cursor: pointer;
}
/* Header 1 */

/* Header 2 */
.header-2-container {
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 750px;
  height: 22rem;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
}

.header-2-container .headers-2 {
  position: sticky;
  top: 0;
  width: 120px;
  height: 65px;
  background-color: var(--primary-color);
  border-bottom-right-radius: 10px;
  box-shadow: 1px 3px 4px 2px rgb(167, 167, 167);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}



.header2-ham, .headers-2 .icon-child{
  padding: 0px 5px;
  margin-left: 5px;
  border-radius: 50%;
}

.headers-2 .icon-child:hover, .header2-ham:hover{
  
  background-color: rgb(0, 157, 209);
  /* border-radius: 50%; */
  cursor: pointer;
}


/* Header 2 */

/* Header 3 */

.header-3-container {
  max-width: 750px;
  height: 22rem;
  overflow-y: scroll;
  background-color:white;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 2px rgb(167, 167, 167);
}

.header-3-container p {
  padding: 1rem;
}

.headers-3{
  height: 100px;
  background-color: var(--primary-color);
  color: white;

  display: flex;
  align-items: flex-start;
}

.header3-name {
  font-size: 1rem;
  flex: 1;
  margin: 1rem;
  align-self: flex-end;
}
.header3-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.header3-icons .icon-child {
  /* margin: 0px 10px; */
  margin-left: 10px;
  padding: 0px 10px;
}

.header3-icons .icon-child:hover{
  background-color: rgb(0, 157, 209);
  border-radius: 50%;
  cursor: pointer;
}

/* Header 3 */

/* Headers */

/* Snackbars */

/* Snackbar 1 */
.window-for-snackbars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.window-for-snackbars.hide{
opacity: 0;
transition: all 0.3s ease-in;
}

.snackbar1{
  position: fixed;
  bottom: 1rem;
  max-width: 30rem;
  height: 4rem;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 10px rgb(167, 167, 167);
  /*  */
  background-color: #1e293b;
  color: white;
}

.snackbar1 span, .snackbar2 span, .snackbar3 p{
  margin: 0px 20px;
}

.snackbar1 button, .snackbar2 button, .snackbar3 button{
  color: rgb(165, 10, 226);
  margin: 0 10px;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 10px;
}

.snackbar1 button:hover, .snackbar2 button:hover, .snackbar3 button:hover{
  background-color: #121822;
}

.snackbar1 .close-icon, .snackbar2 .close-icon, .snackbar3 .close-icon{
  padding: 5px;
  
}
.snackbar1 .close-icon:hover, .snackbar2 .close-icon:hover, .snackbar3 .close-icon:hover{
  filter: brightness(95%);
  background-color: #272626;
}

/* Snackbar 1 */


/* Snackbar 2 */

.snackbar2{
  position: fixed;
  display: flex;
  height: 4rem;
  width: 30rem;
  bottom: 1rem;
  left: 1rem;
  margin: auto;
  justify-content: s;
  align-items: center;
  background-color: #1e293b;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 4px 4px rgb(151, 150, 150);
}

/* Snackbar 2 */

/* Snackbar 3 */

.snackbar3{
  position: fixed;
  bottom: 1rem;
  max-width: 40rem;
  height: 5rem;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 5px 10px rgb(167, 167, 167);
  background-color: #1e293b;
  color: white;
}

.snackbar3-icons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

/* Snackbar 3 */


/* Snackbars */
